~*
*.bak
slides/*_cache/*
slides/rpt_taglist.rda
slides/*.Rmd
index*.Rmd
welcome*.qmd
.Rhistory
.Rproj.user
*_ans.R
*_ans.Rmd
*gtag.js


# Temporary ignores below:
# exercises/
# my_synoptic_token.txt
# /slides/agclim*
# *_nb*
