p.author {
  line-height:150%;
}
div.slide.titlepage h1 {
  padding-top:5%;
}
h1 {
  color:darkgreen;
  line-height:1.4em;
}
div.slide.titlepage h1.title {
  color:#444;
  font-size:120%;
}
div.slide.titlepage h1.subtitle {
  color:black;
  font-size:150%;
  padding-top:0em;
}
h2, p.qtext {
  color:#444;
  font-size: 1.2em;
  font-weight:bold;
}
.indented1 {
  margin-left:1em;
}
.indented1r {
  margin-right:1em;
}
div.indented2 {
  margin-left:2em;
}
div.indented2r {
  margin-right:2em;
}
div.li-single > ul > li {
  margin-bottom:0.1em;
} 
div.samplecode {
  margin-left:2em;
  color:navy;
  font-family:monospace;
  font-weight:bold;
} 
pre {
  font-weight:normal;
  font-size:80%;
}
div.shaded-box {
  margin:1em 2em;
  border:5px solid #888;
  background-color:#ddd;
}
.compact pre {
  font-weight: normal;
  font-size: 70%;
  line-height: 110%;
}
.compact li {
  line-height: 80%;
  margin-left: 2em;
}
.singlespace li {
  margin-bottom:0;
}
div.protip {
  padding: 1em 0 0.5em;
  margin: 2em 4em;
  background-color: white;
  border: 2px dashed DarkGreen;
  border-radius: 8px;
  background-color: #EAFAF1;
}
div.protip::before {
  content: "Pro Tip";
  color: DarkGreen;
  display: block;
  width: 3.2em;
  font-size: 110%;
  font-style: italic;
  font-weight: bold;
  margin: -1.6em 0.8em 1em;
  padding-left: 0.2em;
  background-color:#EAFAF1;
  border-radius: 10px;
}
div.colleft {
  float:left;
  width:48%;
  border: 0px;
}
div.colright {
  float:right;
  width:48%;
  border: 0px;
}
div.colclear {
  clear: both;
}
div.space_images > p > img {
  margin-bottom:4em;
}
.tbl_compact {
  border-collapse: collapse;
}
.tbl_compact td, .tbl_compact th {
  padding: 10px 30px;
  border-bottom:1px solid gray;
}
.tbl_compact td {
  font-size: 100%;
}
.tbl_compact tr:nth-child(even) {
  background-color: #dddddd;
}
em {
  color:indigo;
  font-weight:600;
}
img.stackme {
  position:absolute;
  top:0;
  left:0;
}
span.bigred {
  color:crimson;
  font-weight:bold;
}
span.fakecode {
  display:block;
  margin-top: 0.7em;
  font-weight: normal;
  font-size: 80%;
  font-family: monospace;
  color: #00428C;
  padding: 0.2em 1em;
  border: thin solid #95ABD0;
  border-left-width: 1em;
  background-color: #E4E5E7;
  line-height: 150%;
}
div.hideme > h1 {
  display: none;
}
div.centerme {
  text-align:center;
}